:root {
  --Light-light: #ffffff;
  --Light-dark: #2C3555;
  --Light-vivid: #465FE3;
  --Light-muddy: #5062C1;
  --Light-danger: #FF4768;

  --Light-light-rgb: 255, 0, 0;
  --Light-dark-rgb: 44, 53, 85;
  --Light-vivid-rgb: 70, 95, 227;
  --Light-muddy-rgb: 80, 98, 193;
  --Light-danger-rgb: 255, 71, 104;
}
